/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }

::ng-deep .primary-tooltip{
  background-color: white;
}

.padding-left{
  padding-left: 25px;
}

.padding-top{
  padding-top: 10px;
}

.ballot-visibility-type{
  text-align: left;
  padding-top: 15px;
}

.ballot-visibility-description{
  text-align: left;
  padding-top: 5px;
}

.orange-color{
  color: orange;
}

.black-color{
  color: black;
}

.gray-color{
  color: gray;
}

.minimum-width{
  min-height: 100px;
}

#ballotsDisplay{
  display: none;
}
